[submodule "TelegramDLL"]
	path = TelegramDLL
	url = https://github.com/Pennywise007/TelegramDLL
[submodule "UI/Controls"]
	path = UI/Controls
	url = https://github.com/Pennywise007/Controls
[submodule "include/ext"]
	path = include/ext
	url = https://github.com/Pennywise007/ext
